:root {
  --green: #86cf4b;
  --green-bg: #54D03B;
}


@media (max-width: 1349px) {
  .product__item-tooltip {
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
         transform: none;
  }
}


@media (max-width: 1279px) {
  .navgiation__list li:not(:last-of-type) {
    padding-right: 18px;
    margin-right: 18px;
  }

  .header__search {
    margin-right: 30px;
    margin-left: 5px;
    width: 200px;
}
.product__item-footer {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.product__item-author {
  width: 100%;
  margin-right: 0;
  height: auto;
  margin-bottom: 10px;
}

.product__item-author a {
  width: auto;
  -o-text-overflow: initial;
     text-overflow: initial;
  white-space: initial;
  overflow: initial;
}
.product__item-wrap--big .product__item-descr {
  padding: 10px;
  padding-left: 0;
}

.product__item-wrap--min .product__item-descr {
  padding: 10px;
}


.header__user-login {
  margin-left: 30px;
}

.tabs__links li a,
.settings__links li a {
  font-size: 14px;
  padding: 7px 20px;
}

.product__item-wrap--big .product__item-img, .product__item-wrap--big .product__item-descr {
  width: -webkit-calc(50% - 5px);
  width: calc(50% - 5px);
}

.product__item-wrap--add {
  width: 100%;
}

} /* 1279 */

@media (max-width: 1240px) {
  .product__item-status {
    font-size: 13px;
  }
  .product__item-actions {
    width: 100%;
    margin-bottom: 10px;
  }
} /* 1240 */

@media (max-width: 1199px) {
  .product__item-tooltip {
    display: none;
  }
  .public__btns {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 1100px) {
  .user__nav-register a {
    width: 150px;
  }
  .navgiation__list li:not(:last-of-type) {
    padding-right: 10px;
    margin-right: 10px;
    font-size: 15px;
}
}

@media (max-width: 1023px) {
  .tc__info-left {
    margin-right: 20px;
  }
  
  .tc__info-right {
    padding-left: 20px;
  }



  
  .navgiation__list li:not(:last-of-type) {
    font-size: 16px;
}

  .rightside__navigation .rightside__link.active a,
  .rightside__navigation .rightside__link:hover a,
  .rightside__navigation-cabinet .rightside__link.active a, 
  .rightside__navigation-cabinet .rightside__link a:hover {
    color: var(--green);
    background-color: transparent;
    
}

  .remove__all {
    top: 0px;
  }

  .page__title {
    margin-top: 0;
  }

  .main {
    padding-bottom: 50px;
  }
  
  .header__user-login {
    margin-left: 15px;
  }

  .header__user-name {
    margin-right: 15px;
    width: auto;
  }


  .header__inner {
    padding: 15px 0;
  }
  .main {
    padding-top: 20px;
  }
  .header__navigation-wrap {
    position: fixed;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin: 0;
    padding: 15px;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
         transform: translateX(-100%);
    background: #F0F0F0;
  }

  .header__navigation-wrap.opened {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
         transform: translateX(0%);
  }

  .header__navigation .navgiation__list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }


  .header__navigation .navgiation__list li:not(:last-of-type)::after {
    content: none;
  }
  .header__navigation .navgiation__list li {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 15px;
  }
  
  .rightside__mobile-offcanvas {
    position: fixed;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin: 0;
    padding: 15px;
    padding-top: 25px;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
         transform: translateX(-100%);
    background: #F0F0F0;
  }

  .rightside__mobile-offcanvas.opened {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
         transform: translateX(0%);
  }

  .rightside__navigation-wrap {
    padding-top: 15px;
    border-top: 2px solid transparent;
    border-color: var(--green-bg);
  }

  .rightside__navigation-cabinet {
    padding-bottom: 15px;
    border-bottom: 2px solid transparent;
    border-color: var(--green-bg);
    margin-bottom: 15px;
  }

  .rightside__navigation-wrap .rightside__link a,
  .rightside__navigation-cabinet .rightside__link a {
    background: transparent;
    text-align: left;
    padding: 0;
    font-weight: 700;
  }
  
  .page__content {
    margin: 0;
  }

  .mobile__hamburger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }

  .close-hamburger {
    display: block;
  }


  .close-filter {
    display: block;
  }

  .mobile__hamburger span {
    width: 100%;
    background-color: var(--green-bg);
    display: block;
    width: 20px;
    height: 3px;
    -webkit-border-radius: 1px;
         border-radius: 1px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
         transform: translateX(-50%);
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.mobile__hamburger span:nth-child(1) {
  top: 7px;
}

.mobile__hamburger span:nth-child(2) {
  top: 14px;
}
.mobile__hamburger span:nth-child(3) {
  top: 21px;
}

.header__logo {
  margin-right: auto;
}

.header__search {
  margin-right: 20px;
}

.rightside .rightside__navigation-wrap {
  display: none;
}

.rightside__advertising {
  display: none;
}

.product__search {
  margin-bottom: 20px;
}

.product__list-mobile-buttons {
  margin-bottom: 20px;
}

.mobile__filter-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
       justify-content: flex-end;
}

.mobile__filter-buttons button {
  padding: 7px 20px;
  text-align: center;
  background-color: var(--green-bg);
  color: #ffffff;
  -webkit-border-radius: 4px;
       border-radius: 4px;
  outline: none;
  font-weight: 600;
  width: 48%;
}

.mobile__filter-buttons button:last-of-type {
  margin-left: auto;
}

.mobile__filter-buttons button span {
  position: relative;
  padding-left: 25px;
}


.mobile__filter-buttons svg {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       transform: translateY(-50%);
  fill: #ffffff;
  
}

.mobile__category-open {
  display: none;
}

.footer__inner {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.footer__navigation-wrap {
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
       order: 1;
  margin-top: 25px;
}

.footer__navigation-wrap .navgiation__list {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
       justify-content: center;
}

.footer__social {
  margin-left: auto;
}

.scroll-top {
  width: 40px;
  height: 40px;
  right: 10px;
  bottom: 10px;
}

.scroll-top::after {
  background-size: 80%;
}

.rightside__link.rightside__link--min a {
  max-width: none;
  margin: 0;
  padding-left: 10px;
}

} /* 1023 */


@media (max-width: 850px) {
  .autorized__content-sign-in {
    max-width: none;
  }
  .register-row {
    max-width: none;
  }
  .autorized__content-register .form-field__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .autorized__content-register input {
    max-width: none;
    margin-right: 0;
    margin-bottom: 4px;
  }
  .field__criterion,
  .adt-criterion {
    padding-left: 15px;
    font-size: 12px;
    line-height: 14px;
}
.adt__input, .adt__textarea {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.adt__input input, .adt__textarea textarea {
  max-width: none;
  margin: 0;
  margin-bottom: 4px;
}

.adt__box {
  margin-bottom: 20px;
}

.adt__select .select__wrapper {
  width: 100%;
}

 } /* 850 */


@media (max-width: 800px) {
  .tabs__links,
  .settings__links {
    white-space: nowrap;
    overflow-x: scroll;
  }

  .tabs__links li,
  .settings__links li {
    overflow: initial;
  }
  .cabinet__user-left {
    width: 180px;
  }
  .public__size {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .public__size-item:not(:last-of-type) {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .public__btns {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .public__btns a {
    width: 48%;
    max-width: none;
  }
 
 
}



@media (max-width: 767px) {
  .adt-preview__wrap .product__item-wrap--big {
    width: 100%;
    height: auto;
  }

  .cabinet-buyer__info-column:not(:last-of-type) {
    margin-right: 0;
  }


  .tc__info-right {
    width: 100%;
    padding: 0;
    border: 0;
  }

  .tc__info-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .product__item-wrap--big {
    width: 100%;
  }
  .product__item-wrap--big .product__item-img img {
    width: 100%;
  }

  .public__size-item .product__item-wrap--big .product__item-img img {
    width: 52px;
}

  .product__item-wrap--min {
    width: 50%;
  }
  .cabinet__user {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .cabinet__user-right {
    width: 100%;
  }
  .cabinet__user-left {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .cabinet__user-avatar {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
  }
  .tc__review-top-button {
    -webkit-transform: none;
        -ms-transform: none;
         transform: none;
  }

  .cabinet-buyer__info {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .cabinet-buyer__info-column {
    width: 100%;
    max-width: none;
  }
} /* 767 */


@media (max-width: 700px) {
  .adt-preview__link {
    order: -1;
    margin-bottom: 15px;
    width: 100%;
  }
.popup__close {
  right: 0px;
}

.popup-report__content,
.popup-share__content,
.popup__content {
  max-width: none;
  width: 90%;
  padding: 15px;
}

  .header__user-name {
    display: none;
  }
  .mobile__current-category {
    margin-bottom: 15px;
    display: block;
  }
  .mobile__current-category .tag__item a {
    width: 100%;
    color: #ffffff;
    background-color: var(--green-bg);
  }
  
  .close-category {
    display: block;
  }

  .products__tags-offcanvas {
    position: fixed;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin: 0;
    padding: 15px;
    padding-top: 55px;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
         transform: translateX(-100%);
    background: #F0F0F0;
  }

 

  .products__tags-offcanvas.opened {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
         transform: translateX(0%);
  }

  .products__tags-offcanvas .products__tag-list {
    margin-bottom: 0;
  }

  .products__tags-offcanvas .tag__item:not(:last-of-type) {
    margin-right: 0;
  }

  .products__tags-offcanvas .tag__item {
    width: 100%;
  }

  .products__tags-offcanvas .tag__item a {
    width: 100%;
  }

  .mobile__category-open {
    display: block;
  }


.mobile__hamburger, 
.header__user-nav {
  margin-left: 20px;
}



.user__nav-register {
  display: none;
}
.user__nav-sign-in {
  margin-right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.user__nav-sign-in a {
  font-size: 0;
  width: 22px;
  height: 26px;
  background-image: url(../images/user.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.footer__navigation .navgiation__list {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.footer__navigation .navgiation__list li {
  width: 100%;
  margin-right: 0;
  padding-right: 0;
  margin-bottom: 10px;
  text-align: center;
}
.footer__navigation .navgiation__list li:not(:last-of-type)::after {
  content: none;
}
.autorized__content-wrap {
  padding: 15px;
}

.safe__row {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.safe__row-left {
  width: 48%;
  margin: 0;
}

.safe__row-center {
  width: 48%;
  text-align: right;
}

.safe__row-right {
  width: 100%;
  margin-top: 10px;
}

} /* 700 */

@media (max-width: 600px) {
  .autorized__links li a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 560px) {
  .adt__submit {
    max-width: none;
    margin: 0;
  }
  .product__item-title {
    font-size: 15px;
    line-height: 19px;
  }

  .product__item-text,
  .product__item-footer {
    font-size: 13px;
  }
  
  
  .public__sum span {display: block;}
  .public__size-item--min {
    max-width: none;
  }
  .public__size-item--min .product__item-wrap--min {
    max-width: none;
    width: 50%;
  }

  .tc__review-answer-form button {
    width: 100%;
  }
  .tc__review-footer {
    flex-wrap: wrap;
  }

  .tc__review-send,
.tc__review-add-file {
  width: 100%;
} 

.tc__review-send {
  margin: 0;
  margin-top: 15px;
}

.tc__review-send button,
.tc__review-add-file a {
  max-width: none;
  width: 100%;
}

  .popup-report__content {
    padding: 15px;
  }

  .popup-report__title {
    font-size: 18px;
  }
  .popup-report__textarea textarea {
    padding: 10px;
  }

  .safe__wrapper {
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .adt__submit button {
    max-width: none;
  }
  .adt__photo {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .public__wrapper,
  .adt__wrapper {
    padding: 15px;
  }
  
  .adt__title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .help-form__add-file {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
        -ms-flex-order: -2;
            order: -2;
  }

  .help-form__criterion {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 16px;
  }
  
  .help-form__submit {
    width: 100%;
  }

  .help-form__submit button {
    width: 100%;
    text-align: center;
  }
  
  .help-form__add-file a {
    width: 100%;
    text-align: center;
  }

  .text-page__content h2 {
    font-size: 16px;
  }
  
  .help__wrapper,
  .text-page__wrapper {
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
  }
  .setting__save a {
    width: 100%;
    text-align: center;
  }
  .product__search-input,
  .header__search-input {
    padding-left: 15px;
  }

  .autorized__links li {
    width: 50%;
  }

  .autorized__links li a {
    width: 100%;
  }

  .header__user-nav {
    margin-right: auto;
  }
  .header__user-login {
    margin-right: auto;
  }
  .header__user-name {
    width: 120px;
  }

  .header__inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .header__search {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
         order: 1;
    margin: 0;
    margin-top: 10px;
  }
  .header__logo {
   max-width: 60px;
}
.header__user-avatar {
  width: 30px;
  height: 30px;
}
.popup-sign-in .popup__content,
.popup-forgot-pass .popup__content {
  width: 90%;
  max-width: none;
  padding: 15px;
}



.popup-sign-in__title {
  font-size: 16px;
  line-height: 26px;
}


.cabinet__user-top {
  margin-bottom: 15px;
}

.cabinet__user-subtop {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.cabinet__user-subtop > div {
  width: 100%;
  text-align: center;
}

.cabinet__user-subtop > div:not(:last-of-type) {
  margin-bottom: 10px;
}

.cabinet__user-name, .cabinet__user-nik,
.tc__review-answer-name {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.cabinet__user-name {
  -webkit-box-ordinal-group: -1;
  -webkit-order: -2;
      -ms-flex-order: -2;
       order: -2;
}

.cabinet__user-nik {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
       order: -1;
}

.cabinet__user {
  padding: 15px;
  font-size: 14px;
}

.cabinet__user-rating {
  text-align: left;
}

.cabinet__user-rating, .cabinet__user-sub-counter {
  width: 48%;
}

.tc__review-item-top {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 10px;
}

.tc__review-item-top .tc__review-item-nik {
  width: 100%;
  margin-bottom: 10px;
}

.tc__review-item-answer::before {
  left: 7px;
  top: 6px;
  width: 12px;
  height: 29px;
}

.tc__review-item {
  padding-top: 15px;
  margin-bottom: 20px;
}

.tc__review-item-answer {
  padding-left: 25px;
}

.tc__review-form {
  margin-bottom: 15px;
}

.tc__review-item-top .cabinet__user-rating {
  text-align: right;
  width: 100px;
}

.tc__review-top-button {
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
       order: 1;
  margin-top: 10px;
}

.tc__review-top-button button {
  width: 100%;
}

.tc__review-top .tc__review-ball-counter,
.tc__review-top .cabinet__user-rating {
  width: 100%;
  margin-top: 8px;
}

.tc__review-title {
  -webkit-box-ordinal-group: -2;
  -webkit-order: -3;
      -ms-flex-order: -3;
       order: -3;
  width: 100%;
}

.tc__review-top .cabinet__user-rating {
  -webkit-box-ordinal-group: -1;
  -webkit-order: -2;
      -ms-flex-order: -2;
       order: -2;
}

.tc__review-top .tc__review-ball-counter {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
       order: -1;
}

.tc__info-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.tabs__content-info,
.tabs__content-reviews,
.cabinet-buyer {
  padding: 15px;
  font-size: 14px;
  line-height: 20px;
}



.tc__review-ball {
  margin-top: 10px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.tc__review-textarea textarea {
  padding: 10px;
}

.tc__review-ball  .tc__review-ball-text {
  width: 100%;
  margin-bottom: 10px;
}

.jq-ry-container {
  padding: 0;
}

.product__item-text {
  font-size: 14px;
  line-height: 20px;
}
.tc__review-answer-form textarea {
  margin-bottom: 10px;
}

.cabinet__user-buyer .cabinet__user-name {
  width: 100%;
}

} /* 560 */


@media (max-width: 500px) {
  .sign-in-row,
  .register-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .sign-in-row__item {
    width: 100%;
  }

  .register__submit,
.sign-in__submit,
.forgott__pass {
  width: 100%;
  margin: 0;
  margin-top: 15px;
}
.product__item-add {
  padding: 30px 15px;
}
.safe__row-left, 
.safe__row-right,
.safe__row-center {
  width: 100%;
  text-align: left;
}

.safe__row-center {
  margin-top: 10px;
}

.safe__logout a {
  max-width: none;
}

}

@media (max-width: 460px) {
  .footer__social {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
  .footer__social .social__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
         justify-content: center;
  }
  .footer__logo {
    margin-left: auto;
  }
  .footer__copy {
    margin-right: auto;
  }
  .remove__all {
    position: unset;
    text-align: right;
    margin-bottom: 7px;
  }
 
}

@media (max-width: 420px) {
  .public__btns {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  
  .public__btns a {
    width: 100%;
  }

  .public__btns a:first-of-type {
    margin: 0;
    margin-bottom: 15px;
  }
}


@media (max-width: 400px) {
  .product__item-status {
    bottom: 53px;
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    text-align: center;
  }
  .product__item-wrap.product__item-wrap--actions .product__item-views{
    height: 33px;
    line-height: 33px;
  }

}

@media (max-width: 359px) {
  .header__user-name {
    display: none;
  }
}

@media (max-width: 359px) {
  .mobile__filter-buttons button {
    padding: 7px;
  }
  .autorized__links li a {
    font-size: 14px;
  }

}