:root {
  --green: #86cf4b;
  --green-bg: #54D03B;
}




@media (max-width: 1279px) {
  .navgiation__list li:not(:last-of-type) {
    padding-right: 18px;
    margin-right: 18px;
  }

  .header__search {
    margin-right: 30px;
    margin-left: 5px;
    width: 200px;
}
.product__item-footer {
  flex-wrap: wrap;
}

.product__item-author {
  width: 100%;
  margin-right: 0;
  height: auto;
  margin-bottom: 10px;
}

.product__item-author a {
  width: auto;
  text-overflow: initial;
  white-space: initial;
  overflow: initial;
}
.product__item-wrap--big .product__item-descr {
  padding: 10px;
  padding-left: 0;
}

.product__item-wrap--min .product__item-descr {
  padding: 10px;
}

.product__item-title {
  font-size: 16px;
  line-height: 20px;
}

}

@media (max-width: 1100px) {
  .user__nav-register a {
    width: 150px;
  }
}

@media (max-width: 1023px) {
  .header__user-name {
    margin-right: 15px;
    margin-left: 15px;
    width: auto;
  }


  .header__inner {
    padding: 15px 0;
  }
  .main {
    padding-top: 20px;
  }
  .header__navigation-wrap {
    position: fixed;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin: 0;
    padding: 15px;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background: #F0F0F0;
  }

  .header__navigation-wrap.opened {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  .header__navigation .navgiation__list {
    flex-wrap: wrap;
  }


  .header__navigation .navgiation__list li:not(:last-of-type)::after {
    content: none;
  }
  .header__navigation .navgiation__list li {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 15px;
  }
  
  .rightside__mobile-offcanvas {
    position: fixed;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin: 0;
    padding: 15px;
    padding-top: 25px;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background: #F0F0F0;
  }

  .rightside__mobile-offcanvas.opened {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }


  .rightside__navigation-wrap .rightside__link a {
    background-color: var(--green-bg);
    color: #ffffff;
  }
  
  .page__content {
    margin: 0;
  }

  .mobile__hamburger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }

  .close-hamburger {
    display: block;
  }


  .close-filter {
    display: block;
  }

  .mobile__hamburger span {
    width: 100%;
    background-color: var(--green-bg);
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 1px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.mobile__hamburger span:nth-child(1) {
  top: 7px;
}

.mobile__hamburger span:nth-child(2) {
  top: 14px;
}
.mobile__hamburger span:nth-child(3) {
  top: 21px;
}





.header__logo {
  margin-right: auto;
}

.header__search {
  margin-right: 20px;
}

.rightside .rightside__navigation-wrap {
  display: none;
}

.rightside__advertising {
  display: none;
}

.product__search {
  margin-bottom: 20px;
}

.product__list-mobile-buttons {
  margin-bottom: 20px;
}

.mobile__filter-buttons {
  display: flex;
  justify-content: flex-end;
}

.mobile__filter-buttons button {
  padding: 7px 20px;
  text-align: center;
  background-color: var(--green-bg);
  color: #ffffff;
  border-radius: 4px;
  outline: none;
  font-weight: 600;
  width: 48%;
}

.mobile__filter-buttons button:last-of-type {
  margin-left: auto;
}

.mobile__filter-buttons button span {
  position: relative;
  padding-left: 30px;
}


.mobile__filter-buttons svg {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  fill: #ffffff;
  
}

.mobile__category-open {
  display: none;
}

.footer__inner {
  flex-wrap: wrap;
}

.footer__navigation-wrap {
  width: 100%;
  order: 1;
  margin-top: 25px;
}

.footer__navigation-wrap .navgiation__list {
  justify-content: center;
}

.footer__social {
  margin-left: auto;
}

.scroll-top {
  width: 40px;
  height: 40px;
  right: 10px;
  bottom: 10px;
}

.scroll-top::after {
  background-size: 80%;
}



}

@media (max-width: 767px) {
  .product__item-wrap--big {
    width: 100%;
  }
  .product__item-wrap--big .product__item-img img {
    width: 100%;
  }
  .product__item-wrap--min {
    width: 50%;
  }
}


@media (max-width: 700px) {
  .mobile__current-category {
    margin-bottom: 15px;
    display: block;
  }
  .mobile__current-category .tag__item a {
    width: 100%;
    color: #ffffff;
    background-color: var(--green-bg);
  }
  
  .close-category {
    display: block;
  }

  .products__tags-offcanvas {
    position: fixed;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin: 0;
    padding: 15px;
    padding-top: 55px;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background: #F0F0F0;
  }

 

  .products__tags-offcanvas.opened {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  .products__tags-offcanvas .products__tag-list {
    margin-bottom: 0;
  }

  .products__tags-offcanvas .tag__item:not(:last-of-type) {
    margin-right: 0;
  }

  .products__tags-offcanvas .tag__item {
    width: 100%;
  }

  .products__tags-offcanvas .tag__item a {
    width: 100%;
  }

  .mobile__category-open {
    display: block;
  }


.mobile__hamburger, 
.header__user-nav {
  margin-left: 20px;
}



.user__nav-register {
  display: none;
}
.user__nav-sign-in {
  margin-right: 0;
  display: flex;
}

.user__nav-sign-in a {
  font-size: 0;
  width: 22px;
  height: 26px;
  background-image: url(../images/user.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.footer__navigation .navgiation__list {
  flex-wrap: wrap;
}

.footer__navigation .navgiation__list li {
  width: 100%;
  margin-right: 0;
  padding-right: 0;
  margin-bottom: 10px;
  text-align: center;
}
.footer__navigation .navgiation__list li:not(:last-of-type)::after {
  content: none;
}

}

@media (max-width: 560px) {
  .header__inner {
    flex-wrap: wrap;
  }
  .header__search {
    width: 100%;
    order: 1;
    margin: 0;
    margin-top: 10px;
  }
  .header__logo {
   max-width: 60px;
}
.header__user-avatar {
  width: 30px;
  height: 30px;
}
.popup-sign-in .popup__content {
  width: 90%;
  max-width: none;
  padding: 10px;
}

.popup-sign-in__title {
  font-size: 16px;
  line-height: 26px;
}

.popup__close {
  right: 0px;
}
}

@media (max-width: 460px) {
  .footer__social {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
  .footer__social .social__list {
    justify-content: center;
  }
  .footer__logo {
    margin-left: auto;
  }
  .footer__copy {
    margin-right: auto;
  }
}

@media (max-width: 359px) {
  .mobile__filter-buttons button {
    padding: 7px;
  }
}